HTML{
	font-size: 1.5em;
	font-family:"Trebuchet Ms",Helvetica,sans-serif;
	overflow: hidden;
 	height: 100%;
 	width: 100%;
	padding: 0px;
	margin-top: 0px;
}

body{
	-webkit-background-height: cover;
	-moz-background-height: cover;
	-o-background-height: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin: 0px;
  	width: 100%;
  	height: 100%;
 	overflow: hidden;
	text-align: center;

	// https://enjoycss.com Ge denkt dat ik dit allemaal zelf ff bedenk?
	background-image: -webkit-linear-gradient(-45deg, rgba(52,52,68,1) 0, #2b2b38 30%, #262631 56%, #1d1d21 100%);
	background-image: -moz-linear-gradient(135deg, rgba(52,52,68,1) 0, #2b2b38 30%, #262631 56%, #1d1d21 100%);
	background-image: linear-gradient(135deg, rgba(52,52,68,1) 0, #2b2b38 30%, #262631 56%, #1d1d21 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}

//NOTE: for using scss variables in calc() function you need to call them in #{}

//TODO: add responsive css

$grid_parent_padding: 10px; //CHANGE: grid_parent padding
$grid_parent_gap: 1em; //CHANGE: grid_parent grid_gap
.grid_parent{
	//position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(7em, max-content));
	justify-content: center;
	padding: $grid_parent_padding; 
	grid-gap: $grid_parent_gap; 
	width: calc(100% - 2 * #{$grid_parent_padding});
	text-align: center;
}


$widget_border_radius: 3px;
$grid_child_padding: 1em;
.grid_child{
	display: inline-block;
	position: relative;
	background: #c8c8c8;
	text-align: center;
	padding: 0 $grid_child_padding; //CHANGE: grid_child padding
	min-width: 5em;
	max-width: 7em;
	height: 6em;
	border-radius: $widget_border_radius;
	box-shadow: 0px 0px 12px 2px #00000094, inset 0px 0px 2px 2px #0000004a;
    border: #ff0000 10px;
	p {
		width: 100%;
	}
}

.grid_child_toggable {
	background: -webkit-radial-gradient(closest-side, rgb(200, 200, 200) 0, rgb(200, 200, 200) 58%, rgba(200,200,200,0.87) 66%, rgba(200,200,200,0.83) 74%, rgba(200,200,200,0.76) 83%, rgba(200,200,200,0.59) 92%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(45deg, rgba(250,250,250,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(250,250,250,0.2) 50%, rgba(250,250,250,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(200, 200, 200);
	background: -moz-radial-gradient(closest-side, rgb(200, 200, 200) 0, rgb(200, 200, 200) 58%, rgba(200,200,200,0.87) 66%, rgba(200,200,200,0.83) 74%, rgba(200,200,200,0.76) 83%, rgba(200,200,200,0.59) 92%, rgba(255,255,255,0) 100%), -moz-linear-gradient(45deg, rgba(250,250,250,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(250,250,250,0.2) 50%, rgba(250,250,250,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(200, 200, 200);
	background: radial-gradient(closest-side, rgb(200, 200, 200) 0, rgb(200, 200, 200) 58%, rgba(200,200,200,0.87) 66%, rgba(200,200,200,0.83) 74%, rgba(200,200,200,0.76) 83%, rgba(200,200,200,0.59) 92%, rgba(255,255,255,0) 100%), linear-gradient(45deg, rgba(250,250,250,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(250,250,250,0.2) 50%, rgba(250,250,250,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(200, 200, 200);
	background-position: 50% 50%, 0 0;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto, 10px 10px;
	background-size: auto auto, 10px 10px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.14) inset;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.14) inset;
}

.toggable_widget{
	box-shadow: 0px 0px 0px 0px;
}

.toggableContainer {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
}

.toggableCheckbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 3px 3px #c03232ba;
	border-radius: $widget_border_radius;
}

// NOTE: https://www.w3schools.com/howto/howto_css_switch.asp
/* The switch - the box around the slider */
.toggle_switch {
	position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 1.3em;
    height: 0.8em;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.Toggle_checkbox:checked ~ .toggableCheckbox{
	box-shadow: 0px 0px 3px 3px #46cb2eab;
}

/* The slider */
.toggle_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #c70707d4;
&:before {
	position: absolute;
	content: "";
	height: 0.6em;
	width: 0.6em;
	left: 2px;
	top: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	}
}

$transform: 0.5em;
.Toggle_checkbox:checked ~ .toggle_switch > .toggle_slider {
	background-color: #08a50eed;
	&:before {
		-webkit-transform: translateX($transform);
		-ms-transform: translateX($transform);
		transform: translateX($transform);
	}
}

  /* Rounded sliders */
.toggle_slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}

*:focus {outline:none !important}

.settings{
	display: inline-flex;
	position: absolute;
	left: 2px;
	top: 0px;
	z-index: 5;
	cursor: pointer;
	> .settings_icon {
		width: 1em;
	}
}

.grid_overlay_control {
	/*input {
		opacity: 0;
		width: 0;
		height: 0;
	}*/
}

#grid_overlay_control > .input:checked ~ .grid_overlay{
	display: block;
}

.grid_overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 6;
}