HTML {
  font-size: 150%;
  font-family: "Trebuchet Ms",Helvetica,sans-serif;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
}

body {
  -webkit-background-height: cover;
  -moz-background-height: cover;
  -o-background-height: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0px;
  margin-top: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #343444 0, #2b2b38 30%, #262631 56%, #1d1d21 100%);
  background-position: 50% 50%;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-size: auto auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 10px;
  background-color: #ffffffff;
  height: 3%;
  background-color: #7d7d7d54;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.42), 8px -8px 9px 0px inset rgba(0, 0, 0, 0.19);
  border: #15151554 solid;
  border-width: 0px 0px 1px 0px;
}

.header > input[type=button] {
  float: right;
  width: 4.5em;
  height: 1.7em;
  background-color: #f2ffffe3;
  border: #c3e4f3 2px;
  border-style: outset inset outset inset;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
}

.header > input[type=button]:hover {
  background-color: #ffffffed;
  cursor: pointer;
}

.header .WelcomeContainer {
  display: inline-block;
  position: relative;
  float: left;
  top: -5px;
  background: #ffffff47;
  padding: 5px;
  border: 1px solid #9c9c9c;
  border-radius: 5px 10px 5px 10px;
  font-family: 'exo 2';
  box-shadow: inset 0 0 7px 0 #4a4a4a, 0 0 4px 0 black;
}

.header .WelcomeContainer > #WelcomeLabel {
  color: #2b2bb5eb;
}

.header > span {
  float: left;
}

form {
  text-align: center;
  height: 100%;
}

.grid_parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(7em, max-content));
  justify-content: center;
  padding: 10px;
  grid-gap: 1em;
  width: calc(100% - 2 * 10px);
  text-align: center;
}

.grid_child {
  display: inline-block;
  position: relative;
  background: #c8c8c8;
  text-align: left;
  width: 7em;
  height: 6em;
  border-radius: 3px;
  box-shadow: 0px 0px 12px 2px #00000094, inset 0px 0px 2px 2px #0000004a;
}

.grid_child p {
  width: 100%;
}

.grid_child_header, .grid_child_commenter {
  background-color: rgba(255, 255, 255, 0.7);
  left: 0;
  color: #180e35;
  position: relative;
  border: 2px #e9e9e9;
  border-style: none outset none inset;
  border-top: none;
  border-bottom: ridge 2px #ddd;
}

.grid_child_header p, .grid_child_commenter p {
  position: relative;
  margin: 0px;
  margin-left: 4px;
  margin-top: 1px;
  font-size: 0.7em;
  width: calc(100% - 8px);
}

.grid_child_header {
  font-family: 'Roboto Slab', sans-serif;
  background: #10264542;
  border-radius: 3px 3px 0 0;
  border: solid 1px #1c363b;
  box-shadow: inset 0px 1px 1px 0 #00000073;
  height: 1.1em;
}

.grid_child_commenter {
  font-family: 'Exo 2', sans-serif;
  font-size: 0.75em;
  height: 58%;
}

.updateNotifierParent {
  position: absolute;
  left: calc(50% - 2.5em);
  z-index: 4;
  top: -10em;
  transition: 1s top ease-out;
  z-index: 99;
}

.updateNotifier {
  position: relative;
  width: 5em;
  background: #eaeaeae0;
  border: 2px solid #525252;
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0px #000;
  /* background-color: white; */
  padding: 10px;
}

.timeInputField {
  position: absolute;
  top: 2.8em;
  left: 0.4em;
  width: 60%;
  height: 1.5em;
  background: rgba(167, 167, 167, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  font-family: 'Roboto Slab', sans-serif;
  z-index: 2;
}

.inputTimer {
  position: absolute !important;
  top: -10em !important;
  right: 1.8em !important;
  background: rgba(167, 167, 167, 0.27) !important;
}

.bounce {
  outline: 0;
  color: red;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    timing-function: ease-in;
  }
}

.submitbutton {
  position: absolute;
  bottom: 0.2em;
  left: 0.2em;
  background-color: #d2d2d2e3;
  border: #d0d0d0 1.5px;
  border-style: outset inset outset inset;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  /* font-size: 0.6em; */
  color: #383838;
}

.submitbutton:hover {
  background-color: #e2e2e2e3;
  cursor: pointer;
}

.widget_input {
  height: 1.2em;
}

.widget_input div {
  position: relative;
  z-index: 1;
  height: 100%;
}

.widget_input div > .Horiz_range {
  position: relative;
}

.widget_input div > .Horiz_range > input[type=range] {
  display: inline-block;
  -webkit-appearance: none;
  background-color: #227385;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  outline: 0;
  position: absolute;
  margin-left: 4px;
  top: -1.4em;
}

.widget_input div > .Horiz_range > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e9e9e9;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border: 2px solid #1b3f00;
  cursor: pointer;
}

.widget_input div > .Horiz_range > input[type=range]::-webkit-slider-thumb:hover {
  border: 2px solid #296000;
}

.widget_input div > .Horiz_range > input[type=number] {
  width: 15%;
  background: rgba(167, 167, 167, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  text-align: center;
  position: absolute;
  top: -1.8em;
  right: 5px;
  font-family: 'Roboto Slab', sans-serif;
}

.widget_input div > .Horiz_range > input[type=number]::-webkit-inner-spin-button, .widget_input div > .Horiz_range > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.widget_input div > .Verti_range {
  position: relative;
}

.widget_input div > .Verti_range > input[type=range] {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  -webkit-appearance: none;
  background-color: #227385;
  width: 45%;
  height: 5px;
  border-radius: 5px;
  outline: 0;
  position: absolute;
  top: -3.5em;
  right: -1.8em;
}

.widget_input div > .Verti_range > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e9e9e9;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border: 2px solid #1b3f00;
  cursor: pointer;
}

.widget_input div > .Verti_range > input[type=range]::-webkit-slider-thumb:hover {
  border: 2px solid #296000;
}

.widget_input div > .Verti_range > input[type=number] {
  width: 15%;
  background: rgba(255, 255, 255, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 0.3em;
  font-family: 'Roboto Slab', sans-serif;
}

.widget_input div > .Verti_range > input[type=number]::-webkit-inner-spin-button, .widget_input div > .Verti_range > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.widget_input div > .input_text {
  text-align: center;
}

.widget_input div > .input_text > input[type=text] {
  width: 90%;
  background: rgba(255, 255, 255, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  position: relative;
  top: -0.3em;
  font-family: 'Roboto Slab', sans-serif;
  padding-left: 2px;
}

.widget_input div > .input_number > input[type=number] {
  width: 20%;
  background: rgba(255, 255, 255, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  text-align: center;
  position: absolute;
  top: 0.3em;
  right: 5px;
  font-family: 'Roboto Slab', sans-serif;
}

.widget_input div > .input_number > input[type=number]::-webkit-inner-spin-button, .widget_input div > .input_number > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.widget_input div > .input_radio {
  position: absolute;
  top: -3.4em;
  bottom: 0;
  left: 5px;
  height: auto;
  display: inline-block;
}

.widget_input div > .input_radio > br {
  margin: -10px 0;
  display: block;
  content: "";
}

.widget_input div > .input_radio > table {
  font-size: 0.55em;
  display: inline-block;
}

.widget_input div > .input_radio > table > tbody > tr > td > input[type=radio] {
  margin-top: -3px;
  vertical-align: middle;
}

.widget_input div > .input_radio > table > tbody > tr > td > input[type=checkbox] {
  margin-top: -1px;
  vertical-align: middle;
}

.widget_input div > .input_radio > input[type=button], .widget_input div > .input_radio input[type=submit] {
  bottom: 4px;
  position: absolute;
}

.widget_input div > div > select, .widget_input div > div .dropDownMulti {
  position: absolute;
  left: 0.3em;
  height: 1.7em;
  width: 75%;
  background: rgba(162, 162, 162, 0.27);
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px ridge #858585;
  font-family: 'Roboto Slab', sans-serif;
}

.widget_input div > div > select > option, .widget_input div > div .dropDownMulti > option {
  background: #d7d7d7;
}

.widget_input div > div > select {
  top: -3.8em;
}

.widget_input div > div > .dropDownMulti {
  top: -5.9em;
}

.grid_child_toggable {
  background: radial-gradient(closest-side, #c8c8c8 0, #c8c8c8 58%, rgba(200, 200, 200, 0.87) 66%, rgba(200, 200, 200, 0.83) 74%, rgba(200, 200, 200, 0.76) 83%, rgba(200, 200, 200, 0.59) 92%, rgba(255, 255, 255, 0) 100%), linear-gradient(45deg, rgba(250, 250, 250, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(250, 250, 250, 0.2) 50%, rgba(250, 250, 250, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #c8c8c8;
  background-position: 50% 50%, 0 0;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-size: auto auto, 10px 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14) inset;
}

.toggable_widget {
  box-shadow: 0px 0px 0px 0px;
}

.toggableContainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggableContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggableCheckbox_span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 3px 3px #c03232ba;
  border-radius: 3px;
  z-index: 0;
}

/* The switch - the box around the slider */
.toggle_switch {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  width: 1.3em;
  height: 0.8em;
  z-index: 1;
}

/* The slider */
.toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c70707d4;
}

.toggle_slider:before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  left: 0.1em;
  top: 0.08em;
  background-color: white;
  transition: .4s;
}

.Toggle_Checkbox:checked ~ .toggle_switch > .toggle_slider {
  background-color: #08a50eed;
}

.Toggle_Checkbox:checked ~ .toggle_switch > .toggle_slider:before {
  -webkit-transform: translateX(0.5em);
  transform: translateX(0.5em);
}

.Toggle_Checkbox:checked ~ .toggableCheckbox_span {
  box-shadow: 0px 0px 3px 3px #3f9d2f9e;
}

/* Rounded sliders */
.toggle_slider.round {
  border-radius: 34px;
}

.toggle_slider.round:before {
  border-radius: 50%;
}

*:focus {
  outline: none !important;
}

.settings {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 5;
}

.settings > .settings_icon {
  width: 1em;
}

.settings_label {
  cursor: pointer;
}

.settings_label input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.grid_overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;
  visibility: hidden;
}

.overlay_child {
  display: inline-block;
  position: relative;
  width: 87%;
  max-width: 22.2em;
  margin-top: 1.5em;
  left: auto;
  height: 87%;
  background: #7d898e;
  border: 3px solid #c8c6c6db;
  border-radius: 15px 8px 20px 8px;
  box-shadow: 0px 0px 1px 1px #bababa, inset 0px 0px 0px 2px #aaaaaabd, inset 0 0 11px 2px #393939;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.overlay_child > .grid_child {
  box-shadow: inset 0px 0px 0px 2px #000000ab;
  border-radius: 5px;
}

.overlay_child::-webkit-scrollbar {
  display: none;
}

.overlay_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(6em, max-content));
  justify-content: center;
  grid-gap: 0.5em;
  margin-left: -2px;
  margin-bottom: 0.7em;
}

.overlay_closer {
  position: fixed;
  display: inline-block;
  background: #df1e1e;
  width: 1em;
  height: 1em;
  right: 0.07em;
  top: 1em;
  border-radius: 48%;
  border: 2px solid #e3e3e3e0;
  box-shadow: inset 0 0 4px 1px #a6a5a582, -1px -1px 2px 0 #00000029;
  z-index: 10;
}

.overlay_closer:hover {
  background: #ba1c1c;
  border: 2px solid #fffcfcdb;
}

.overlay_closer:hover > .close_icon > i {
  color: #d8d8d8;
}

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  color: white;
  font-size: 0.87em;
  cursor: pointer;
}

.icon_back {
  left: 0.07em;
  right: auto;
  background: #454545;
}

.icon_back:hover {
  background: #787878;
}

@media only screen and (max-width: 600px) {
  .overlay_child {
    max-width: 15em;
  }
}

@media only screen and (max-width: 380px) {
  HTML {
    font-size: 140%;
  }
  .overlay_content {
    grid-gap: 0.7em;
  }
  .widget_input div > .input_radio > table > tbody > tr > td > input[type=checkbox] {
    margin-top: -6px;
  }
}

@media only screen and (max-width: 360px) {
  HTML {
    font-size: 125%;
  }
  .overlay_content {
    grid-gap: 0.7em;
  }
  .overlay_content > .grid_child {
    margin-left: -5px;
  }
  .widget_input div > .Verti_range > input[type=range] {
    top: -3.1em;
    right: -1.6em;
  }
  .widget_input div > .Verti_range > input[type=number] {
    right: 3px;
    top: 0em;
  }
  .widget_input div > .Horiz_range > input[type=range] {
    top: 0.55em;
  }
  .widget_input div > .Horiz_range > input[type=number] {
    right: 3px;
    top: 0em;
  }
  .widget_input div > .input_number > input[type=number] {
    right: 3px;
    top: 0em;
  }
  .widget_input div > .input_text > input[type=text] {
    top: -0.2em;
    height: 70%;
  }
  .widget_input div > .input_radio > table > tbody > tr > td > input[type=checkbox] {
    margin-top: -6px;
  }
  .widget_input div > .input_radio > input[type=button], .widget_input div > .input_radio input[type=submit] {
    bottom: 2px;
  }
}
